PORT=5000
JWT_SECRET=aamantran-super-secret-key-2026

# Main Admin Sign-in Credentials (Edit here to change your main admin login email & password)
ADMIN_USERNAME=admin
ADMIN_EMAIL=your_email@domain.com
ADMIN_PASSWORD=your_custom_password

# Payment Accepting Merchant Details
PAYMENT_UPI_ID=your_upi_id@upi
PAYMENT_MERCHANT_NAME=Aamantran Restaurant
