PORT=5000
JWT_SECRET=amantradha-super-secret-key-2026

# Main Admin Sign-in Credentials (Edit here to change your main admin login email & password)
ADMIN_USERNAME=Abhay_Maddy
ADMIN_EMAIL=abhaymddy@amantradha.com
ADMIN_PASSWORD=abhaymddy123

# Payment Accepting Merchant Details
PAYMENT_UPI_ID=abhaymaddheshiya@axl
PAYMENT_MERCHANT_NAME=Amantradha Restaurant